%h1 Corporations list

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Ticker
      %th Tescription
      %th Url
      %th Join_at
      %th Created_at
  %tbody
    - @corporations.each do |corporation|
      %tr
        %td= corporation.id
        %td= corporation.name
        %td= corporation.ticker
        %td= corporation.description
        %td= corporation.url
        %td= corporation.join_at
        %td= corporation.created_at
