%h1 Corporations list

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Ticker
      %th Tescription
      %th Url
      %th Join_at
      %th Created_at
      %th Status
  %tbody
    - @corporations.each do |corporation|
      %tr
        %td= corporation.id
        %td= link_to corporation.name, "/corporation/#{corporation.id}"
        %td= corporation.ticker
        %td= corporation.description[0..100]
        %td= corporation.url
        %td= corporation.join_at
        %td= corporation.created_at
        %td= corporation.status
