= form_for(@corporation_key) do |f|
  = f.label :corporation_id
  = f.collection_select :corporation_id, Corporation.all, :id, :name

  %br
  = f.label :v_code
  = f.text_field :v_code

  %br
  = f.submit 'Save Changes'
